<h1>{{user.first_name}} {{user.last_name}}</h1>
<ul class="list-group">
  <li>
    <strong>Email:</strong>{{user.email}}</li>
  <li>
    <strong>phoneno:</strong>{{user.phone}}</li>
</ul>
<a href="/" class="btn-btn-default">Go back</a>
